<!DOCTYPE html>
<html>
<head>
	<title>Acceuil</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="css/moncss.css" />
</head>
<body>
	<%- include('./includes/nav'); %>

	<%- include('./includes/recherche'); %>

	<div class="categories">
		<div class="alert-dark titreBanierre">
			<span class="textTitreBanierre"><%= titre %></span>
			<!--a href="#" class="btn btn-info btn-lg float-right plusTitrebaniere">
				Plus
			</a-->
		</div>
		<div class="trie">
			<span class="spanTrie">
				Trier par : 
				<a class="typeTrie" href="#">Titre</a> |
				<a class="typeTrie" href="#">Auteur</a> | 
				<a class="typeTrie" href="#">Année de publication</a> | 
				<a class="typeTrie" href="#">Editeur</a> 
			</span>
		</div>
		<div class="livres">
			<% for(let i=0; i < cardNumber; i++) { %>
				<div class="livre">
					<div class="imageLivre">
						<img class="responsive-img" src="images/livres/1.png" alt="Card image cap" height="250" width="200">
					</div>
					<div class="detailsLivre">
						<span>Titre : </span>
						<span>Auteur : </span>
						<span>Editeur : </span>
						<span>Date publication : </span>
						<div class="possibiliteLivre">
							<span class="dot">
								<a href="#" title="Lire le livre">
									<i class="large material-icons">local_library</i>
								</a>
							</span>
							<span class="dot">
								<a href="#" title="Fiche du livre">
									<i class="large material-icons">remove_red_eye</i>
								</a>
							</span>
						</div>
						
					</div>
				</div>
			<% } %>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>