<!DOCTYPE html>
<html>
<head>
	<title>Acceuil</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
	<link rel="stylesheet" href="css/moncss.css" />
</head>
<body class="bodyAcceuil">

	<br/>
		<%- include('./includes/nav'); %>

	<br />

	<div class="divRecherche row">
		<div class="col-4"></div>
		<form class="form-inline my-2 my-lg-0 center-block col-md-5">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<div class="col-4"></div>
	</div>

	<div class="container-fluid">
		<div class="row">

			<!-- Nouveutes -->
			<div class="alert alert-dark col-12 text-center" role="alert">
				<span class="textTitreBanierre">Nouveautés</span>
				<a href="#" class="btn btn-info btn-lg float-right">
					Plus
				</a>
			</div>
			<div class="card-group container">
				<% for(let i=0; i < cardNumber; i++) { %>
				<div class="col-md-2 col-sm-4 col-xs-6 col-lg-2 col-xl-2">
					<div class="card">
						<a href="#">
							<img class="card-img-top responsive-img" src="images/livres/1.png" alt="Card image cap" height="250" width="90">
						</a>
						<!--div class="card-body">
							
						</div-->
					</div>
				</div>
				<% } %>
				
			</div>
		</div>

		<br><br>

		<div class="row">

			<!-- Les plus lus -->
			<div class="alert alert-dark col-12 text-center" role="alert">
				<span class="textTitreBanierre">Les plus lus</span>
				<a href="#" class="btn btn-info btn-lg float-right">
					Plus
				</a>
			</div>
			<div class="card-group container">
				<% for(let i=0; i < cardNumber; i++) { %>
				<div class="col-md-2 col-sm-4 col-xs-6 col-lg-2 col-xl-2">
					<div class="card">
						<a href="#">
							<img class="card-img-top" src="images/livres/1.png" alt="Card image cap" height="250" width="90">
						</a>
						<!--div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div-->
					</div>
				</div>
				<% } %>
				
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>