.monFormulaire{
	background-image : url("../images/connexion/bg1.jpg");
	background-size: 100%;
}

.white-text{
	color: white;
}

.bodyAcceuil{
	background-image : url("../images/connexion/bg1.jpg");
	background-size: 100%;
}