/* Navbar */

.catalogue{
	display: flex;
	margin-right: 10px; 
}



/* Material icons */
.material-icons.tiny { font-size: 18px; }
.material-icons.small { font-size: 24px; } /* Default */
.material-icons.medium { font-size: 36px; }
.material-icons.large { font-size: 48px; }
.dot {
	display: flex;
	height: 70px;
	width: 70px;
	background-color: #bbb;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	margin-right: 10px; 
}

a, a:hover{
	text-decoration: none;
	color: black;
}

/* Les includes */

.bareRecherche{
	display: flex;
	width: 100%;
	margin: 15px 0px 15px 0px;
	background-color: #0F405E;
	align-items: center;
	justify-content: center;
}

.formRecherche{
	display: flex;
	margin: 15px 0px 15px 0px;
}

/* La page d'acceuil */

.nouveautes{
	
}

.plusLus{
	
}

.nouveautes > .titreBanierre, .plusLus > .titreBanierre, .categories > .titreBanierre{
	display: flex;
	width: 100%;
	padding: 15px 0px 15px 0px;
	margin: 15px 0px 15px 0px;
	align-items: center;
	justify-content: center;
}

.titreBanierre > .textTitreBanierre{
	display: flex;
	font-size: 30px;
}

.titreBanierre > .plusTitrebaniere{
	display: flex;
	position: absolute;
	right: 0%;
}

.nouveautes > .livres, .plusLus > .livres{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

/* Les pages avec catégorie */

.categories{

}

.categories > .trie{
	display: flex;
	background-color: red;
	width: 100%;
	padding: 15px 0px 15px 0px;
	margin: 15px 0px 15px 0px;
}

.spanTrie > .typeTrie{
	text-decoration: none;
	color: black;
}

.categories > .livres{
	display: flex;
	flex-direction: column;
}

.livres > .livre {
	display: flex;
	margin-bottom: 20px;
	margin-left: 40px;
}

.livre > .imageLivre{
	display: flex;
	margin-right: 50px;
}

.livre > .detailsLivre{
	display: flex;
	flex-direction: column;
}

.detailsLivre > .possibiliteLivre{
	display: flex;
	margin-top: 20px;
	justify-content: space-around;
}


/* Les pages avec livre */

.livreLivre{

}

.livreDescription{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.livreDescription > .livreDetailsLivre{
	display: flex;
	flex-direction: column;
	margin-left: 15px; 	
}

.livreDetailsLivre > .livreLireLivre{
	display: flex;
	margin-top: 20px;
}

.livresTous > .descriptionLivre{
	display: flex;
	text-align: justify;
	margin: 10px;
}

.textTitreBanierreLivre{
	display: flex;
	width: 100%;
	padding: 15px 0px 15px 0px;
	margin: 15px 0px 15px 0px;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

